<?xml version="1.0" encoding="utf-8"?>
<!-- Configurazione per IIS (Aruba). stdout: se mvchat non riesce a partire, il motivo finisce in App_Data\logs. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\MvChat.Web.dll" stdoutLogEnabled="true" stdoutLogFile=".\App_Data\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
